/*3 major breaks 480, 768, 1024*/
/*3 minor breaks 320, 720, 900*/

html{
 /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;*/
 font-family: 'Lato', Calibri, sans-serif;
 font-size: 100%;  
}

body{
	/*background-color:#f4f4e4;*/
	background-color:#cfc3be;
	margin:0;
}

.header{
	background-color:#ffffff;
	margin:0;
	width:100%;
}

	.header-h1, .header-h2{
		visibility:hidden;
		display:none;
	}

	.header-linkbar{
		background-color:#882600;
		padding:10px;		
		margin-bottom:5px;
		color:#fff;
	}
	.header-linkbar a{				
		color:#fff;
		text-decoration:none;
		padding-right:5px;
		padding-left:5px;
	}
	.header-linkbar a::after{				
		content:" |";
	}

.main{	
	margin-left:10px;	
}
	
.main-header{	
	background-color:#ffffff;
}
	
	.main-header-top{
		display: table;		
	}

	.main-header__row{
		display: table-row;
	}
	
	.main-header__description, .main-header__social{		
		background-color:#ffffff;
		vertical-align:top;
		display: table-cell;		
	}
	
		.main-header__description li, .main-header__social li{
		list-style-type:none;
		}
	
	.main-header__avatar{				
		display: table-cell;
	}
	
		.main-header__avatar_contenedor{
			padding:5px;
			display: table;
		}	
	
		.main-header__picture{			
			display: table-cell;
			border: 5px solid #CCC;
			border-radius:.5em;
		}
		
		.main-header__profileCard{
			display: table-cell;
			vertical-align:top;
		}
		
		.profileCard-h1{			
			padding:0;
			margin:0;
		}
		.profileCard-h2{			
			padding:0;
			margin:0;
		}
	
	.main-header-bottom{
		display: table;
		border-spacing:5px;
	}
	
	.main-header__mensaje{
		background-color:#d3511e;
		color:#fff;
		margin:5;				
		padding:5px;		
	}
	
	.main-notas{		
		margin:5px;		
	}
		.main-notas a{
			text-decoration:none;
		}
	
	
	.main-content{
		/*border:black 1px solid*/
	}	
	
	.main-habilidades{
		background-color:#ffffff;
		margin:5px;
		padding:5px;		
	}
	
		.main-habilidades_banner{
			background-color:#3552cb;
		}

			.banner_titulo{				
				display:table-cell;
				vertical-align:bottom;
				padding-left:5px;
			}
		
		.main-habilidades__elemento{
			display: inline;
			border-spacing:5px;		
		}
		
		.main-habilidades li{		
			display: table-cell;
			width:100px;
			height:100px;
			padding-left:5px;
			padding-top:15px;		
			font-weight:bold;
		}
		
	.main-proyectos{
		background-color:#ffffff;
		margin:5px;
		padding:5px;
	}
		.main-proyectos li{		
			padding-left:15px;		
			color:#565656;
		}
	
	.main-portafolio{
		background-color:#ffffff;
		margin:5px;
		padding:5px;
	}	
		.main-portafolio li{		
			padding-left:15px;		
			color:#565656;
		}
	
		.main-habilidades li, .main-proyectos li, .main-portafolio li{
			list-style-type:none;
		}		
	
	.red{
		background-color:#ae3137;
		color:#fff;
	}
	
	.blue{
		background-color:#1572b6;
		color:#fff;
	}
	.green{
		background-color:#5d7e4f;
	}
	.yellow{
		background-color:#f0db4f;
		color:#000;
	}
	.orange{
		background-color:#f06529;
		color:#fff;		
	}
	.purple{
		background-color:#9675ab;
		color:#fff;
	}
	.gray{
		background-color:#524c4a;
		color:#fff;
	}
	.cyan{
		background-color:#74a9ad;
		color:#fff;
	}

	.main-separador{		
		padding-left:5px;
		padding-top:5px;
		font-weight:bold;
	}
		
	
.footer{
	display: table;
	border-spacing:5px;
	width:100%;
	background-color:#3f1200;
}
	.footer-section{
		display: table-cell;
		width:33%;
		/*background-color:#2f0505;*/
		color:#fff;		
		padding-left:10px;		
		font-weight:bold;
	}
	
	.footer-section li{
		list-style-type:none;		
		padding-left:15px;		
		color:#fff;
	}
	
/*640pixeles*/	
	@media all and (max-width: 1024px) {
		.header-h1{
			color:red;
		}
		
		.header-linkbar{
			font-size:150%;
		}
		
		.profileCard-h1{			
			padding-left:5px;
			font-size:170%;
		}
		.profileCard-h2{	
			padding-left:5px;		
			font-size:170%;
		}
		
		.main{
			width:985px;
			/*border:black 1px solid;*/
		}
		
			.main-header{
				border-radius: .5em;
			}
			
			.main-header-top{
				border-radius: .5em;
			}
			
			.main-header__mensaje{
				background-color:#b35e3d;
				width:960px;
				font-size:150%;
			}
			
			.main-content{
				/*border:black 1px solid;*/
				border-radius: .5em;
				background-color:white;
			}
		
		.main-header__description, .main-header__social{
			visibility:hidden;
			display:none;
		}
		.main-header__mensajeAvatar{
			visibility:visible;
			display:inline;
		}
		.main-header__avatar{								
			
			/*margin-right: 10px;*/
		}
		.main-header-bottom{
			visibility:hidden;
			display:none;
		}
		
		.main-header__description{
			text-align:right;
		}
		.main-header__social{
			text-align:left;
		}	

		.main-notas{
			font-size:80%;
		}	
		
		.main-habilidades_banner{
			background-color:#503327;
			height:35px;			
			width:100%;
		}
			.banner_titulo{
				color:white;
				font-size:140%; 
				height:35px;
			}
			
		.main-separador	{
			color:#3f1200;
			font-size:150%; 
		}
		
		.footer{
					
		}
			
		
	}/*640pixeles*/
	
	